# Ignore unnecessary files
.git
.gitignore
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.venv
venv
env
ENV
venv.bak
env.bak
.tox
.nox
.coverage
htmlcov
logs
*.log
*.spec
*.egg-info
dist
build